.carousel-item img {
  height: 600px;        /* 好きな高さに調整 */
  object-fit: cover;    /* 画像を中央で切り抜いてフィット */
}

.hover-shadow {
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.hover-shadow:hover {
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
  transform: translateY(-2px);
}


.card-img-wrapper {
  position: relative;
  overflow: hidden;
}

.card-img-wrapper img {
  display: block;
  width: 100%;
  height: auto;
  transition: opacity 0.3s ease;
}

.card-img-wrapper .hover-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.card-img-wrapper:hover .hover-image {
  opacity: 1;
}

.card-img-wrapper:hover .primary-image {
  opacity: 0;
}